.container{
  position: absolute;
  background-color: var(--task-background);
  border: 1px solid var(--main-color);
  color: var(--text-color-gray);
  width: 250px;
  right: -20px;
  border-radius: 5px;
  z-index: 100;
}

.dropdown_wrapper{
  color: var(--text-color-gray);
  font-size: 14px;
}
.dropdown_header{
  text-align: center;
  padding: 10px 10px 10px;
  position: relative;
  &::after {
  content: '';
  position: absolute;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;
  top: 100%;
  height: 1px;
  background-color: var( --bottom-border-task-color);

  };
}

.close{
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: var(--text-color-gray);
  position: absolute;
  left: calc(100% - 25px);
  top: 5px;
  &:hover{
    color: var(--text-color-dark);
  }
}
