.wrapper {
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
  width: 768px;
  padding: 12px;
  background-color: #fff;
  z-index: 999;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 3px;
}
.open {
  transform: translate(-50%, -50%);
  left: 50%;
}
.header {
  position: relative;
}
.body {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.icon {
  color: var(--text-color-gray);
  width: 24px;
  height: 24px;
  transition: color 0.3s ease 0s;
}

.title {
  display: flex;
  column-gap: 12px;
}
.title-text {
  font-size: 20px;
}
.subtitle-text {
  font-size: 18px;
}
.title-text,
.subtitle-text {
  color: var(--text-color-dark);
  margin: 0px;
  font-weight: 600;
  height: 32px;
  line-height: 24px;
}

.close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  &:hover {
    background-color: var(--dark-button-hover);
    .icon {
      color: var(--text-color-dark);
    }
  }
}
