.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 10px 40px;
}
.content {
  background-color: var(--main-color);
  flex-grow: 1;
  color: var(--text-color-white);
}
.title{
  font-size: 20px;
  line-height: 24px;
}
