.container {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.board {
  padding: 30px 30px 0 30px;
  background-color: var(--main-color);
  flex-grow: 1;
  min-height: 85vh;
  overflow: auto;
  color: var(--text-color-white)
}
.title {
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
  color: var(--text-color-white-hover)
}
