.container {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.board {
  padding: 30px 30px 0 30px;
  background-color: var(--main-color);
  flex-grow: 1;
  min-height: 80vh;
  overflow: auto;
  // width: 95vw;
  color: var(--text-color-white)
}
.title {
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
  color: var(--text-color-white-hover)
}
.link {
  border-radius: 5px;
  background: transparent;
  padding: 5px;
  border: 1px solid var(--text-color-white);
  color: var(--text-color-white);
  transition: color 0.2s, background 0.2s;
  cursor: pointer;
  &:hover {
    color: var(--main-color);
    background: var(--text-color-white);
  }
}
.wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}