.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100px;
  border-radius: 5px;
  background-color: var(--main-color-dark);
  color: var(--text-color-white);
}
.title {
  margin-bottom: 15px;
}
