.wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper__box {
  background-color: var(--main-color);
  max-width: 1400px;
  margin: 0 auto;
}