.task {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  margin-bottom: 8px;
  width: 252px;
  color: var(--text-color-gray);
  transition: background-color 0.3s ease 0s;
  cursor: grab;
  &:hover {
    background-color: #f4f5f7;
    .link {
      color: var(--text-color-dark);
    }
  }
  & .dragging {
    cursor: dragging;
  }

}
.link {
  line-height: 32px;
  text-decoration: none;
  color: var(--text-color-gray);
  transition: color 0.3s ease 0s;
  padding: 0px 8px;

}
.dragging {
  background-color: var(--column-background);
  border: 1px solid var(--main-color-light-hover);
  & > span {
    opacity: 0;
  }
}
