.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  /* justify-content: center;
  align-items: center; */
  z-index: 100;
  /* display: flex; */
  transition: all 0.3s ease 0s;
  overflow-y: auto;
}

.wrapper.open {
  visibility: visible;
  background: rgba(0, 0, 0, 0.6);
}
