@import '~normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
}

:root {
  --main-color: #0079bf;
  --main-color-dark: #0066a0;

  --column-background: #ebecf0;
  --task-background: #fff;

  --success-color: rgb(53, 177, 111);
  --error-color: rgb(223, 59, 59);

  --text-color-white: #fff;
  --text-color-dark: #364765;
  --text-color-gray: #5e6c84;
  --bottom-border-task-color: #b3b6bd;
  --dark-button-hover: #d9dbe2;
}
