* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --main-color: #0079BF;
  --main-color-dark: #0066A0;
  --main-color-light: #52A4D4;
  --main-color-light-hover: #61aeda;

  --column-background: #EBECF0;
  --task-background: #fff;

  --success-color: rgb(53, 177, 111);
  --error-color: rgb(223, 59, 59);

  --text-color-white: #fff;
  --text-color-dark: #364765; 
  --text-color-gray: #5e6c84;
  --bottom-border-task-color: #b3b6bd;
  --dark-button-hover: #D9DBE2; 
  
}