.task {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  margin-bottom: 8px;
  position: relative;
  z-index: 0;
  color: var(--text-color-gray);
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  &:hover {
    background-color: #f4f5f7;
    .link {
      color: var(--text-color-dark);
    }
    .remove{
      opacity: 0.9;
    }
  }
  &.dragging {
    cursor: grab;
  }
 
}


.link {
  flex-grow: 1;
  display: block;
  max-width: 300px;
  line-height: 32px;
  text-decoration: none;
  color: var(--text-color-gray);
  transition: color 0.3s ease 0s;
  padding: 0px 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.dragging {
  background-color: var(--column-background);
  border: 1px solid var(--main-color-light-hover);
   span {
    opacity: 0;
  }
}

.remove{
  width: 20px;
  height: 20px;
  opacity: 0.4;
  transition: opacity 0.2s ease 0s;
  margin-right: 5px;
  &:hover {
    opacity: 1;
    color: var(--text-color-dark);
  }
  padding: 3px;
}


