.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;

  position: relative;

  z-index: 0;
  color: var(--text-color-gray);
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #f4f5f7;
    .link {
      color: var(--text-color-dark);
    }
  }
}
.link {
  display: block;
  max-width: 300px;
  line-height: 32px;
  text-decoration: none;
  color: var(--text-color-gray);
  transition: all 0.3s ease 0s;
  padding: 0px 8px;
}
